@media (max-width: 480px) {
	body, html {
		overflow-x: hidden;
	}
	body {
		width: 100%;
		max-width: 480px;
	}
	header .head {
		padding-top: 70px;
		padding-bottom: 1px;
	}
	header .head h1 {
		font-size: 23px;
	}
	header .head h2 {
		font-size: 17px;
		position: relative;
		bottom: 15px;
		text-align: center;
	}
	header .head h2 br {
		display: none;
	}
	header .info {
		display: block;
		position: relative;
		left: 18px;
	}
	header .info .info_serv {
		width: 160px;
		margin: 0 auto 45px;	
	}
	header .info .info_projects {
		width: 160px;
		margin: 0 auto 45px;
	}
	header .info .info_clients {
		width: 160px;
		margin: 0 auto 45px;
	}
	header nav {
		margin-left: 100px;
		margin-right: 0;
	}
	header nav ul {
		overflow: hidden;
		z-index: 15;
	}
	header nav input[type="checkbox"] ~ ul{
		width: 0;
		height: 0;
		margin: 0;
		padding: 0;
		transition-duration: 0.5s;
		transition-property: width;
	}
	header nav input[type="checkbox"]:checked ~ ul {
		display: block;
		position: relative;
		right: 55px;
		width: 320px;
		height: 100%;
		transition-duration: 0.5s;
		transition-property: width;
		z-index: 15;
	}
	header nav input[type="checkbox"]:checked ~ ul li {
		margin-bottom: 25px;
		margin-top: 5px;
	}
	header nav label {
		font-size: 25px;
		position: relative;
		right: 80px;
	}
	.block_main_1 {
		padding: 0;
		padding-top: 110px;
	}
	.block_main_1 .head {
		display: block;
	}
	.block_main_1 .head .logo_word > p {
		position: relative;
		font-size: 170px;
		opacity: 0.07;
		bottom: 200px;
	}
	.block_main_1 .discription_head br {
		display: none;
	}
	.block_main_1 .discription_head {
		font-size: 18px;
		text-align: left;
		margin-left: 5px;
	}
	.block_main_1 .discription {
		display: block;
		margin-bottom: 80px;
	}
	.block_main_1 .discription .item_3 {
		font-size: 18px;
	}
	.block_main_1 .discription .item_3 .wrap {
		display: flex;
	}
	.block_main_1 .discription .item_3 .wrap h3 {
		position: relative;
		left: 18px;
	}
	.block_main_1 .discription .item_2 {
		font-size: 18px;
	}
	.block_main_1 .discription .item_2 .wrap {
		display: flex;
	}
	.block_main_1 .discription .item_2 .wrap h3 {
		position: relative;
		left: 18px;
	}
	.block_main_1 .discription .item_1 {
		font-size: 18px;
		margin-bottom: 18px;
	}
	.block_main_1 .discription .item_1 .wrap {
		display: flex;
	}
	.block_main_1 .discription .item_1 .wrap h3 {
		position: relative;
		left: 18px;
		top: 7px;
	}
	.block_main_2 .head {
		padding-top: 120px;
		padding-bottom: 150px;
	}
	.block_main_2 .head h1 {
		font-size: 35px;
		margin-bottom: 25px;
	}
	.block_main_2 .head p {
		font-size: 19px;
		display: inline;	
	}
	.block_main_2 .head p br {
		display: none;
	}
	.block_main_2 .main .development {
		height: 1000px;
		width: 100%;
		max-width: 480px;
	}
	.block_main_2 .main .development h1 {
		text-align: left;
		padding-top: 50px;
		left: 10px;
		font-size: 45px;
	}
	.block_main_2 .main .wrap {
		display: block;
		top: -900px;
		width: 100%;
		max-width: 480px;
	}
	.block_main_2 .main .wrap .landing {
		width: 265px;
		height: 250px;
		margin-left: 10px;
		margin: 0 auto 25px;
	}
	.block_main_2 .main .wrap .landing h1 {
		top: 20px;
		left: 25px;
	}
	.block_main_2 .main .wrap .landing hr {
		top: 20px;
		width: 70%;
		max-width: 250px;
	}
	.block_main_2 .main .wrap .landing button:nth-of-type(1) {
		top: 29px;
		font-size: 19px;
		left: 20px;
	}
	.block_main_2 .main .wrap .landing button:nth-of-type(2) {
		top: 29px;
		left: 50px;
	}
	.block_main_2 .main .wrap .web {
		width: 265px;
		height: 250px;
		margin-left: 10px;
		margin: 0 auto 25px;
	}
	.block_main_2 .main .wrap .web h1 {
		top: 20px;
		left: 25px;
	}
	.block_main_2 .main .wrap .web h1 br {
		display: inline;
	}
	.block_main_2 .main .wrap .web hr {
		top: 20px;
		width: 70%;
		max-width: 250px;
	}
	.block_main_2 .main .wrap .web button:nth-of-type(1) {
		top: 39px;
		font-size: 19px;
		left: 20px;
	}
	.block_main_2 .main .wrap .web button:nth-of-type(2) {
		top: 39px;
		left: 50px;
	}
	.block_main_2 .main .wrap .market {
		width: 265px;
		height: 250px;
		margin-left: 10px;
		margin: 0 auto 25px;
	}
	.block_main_2 .main .wrap .market h1 {
		top: 20px;
		font-size: 42px;
		left: 25px;
	}
	.block_main_2 .main .wrap .market hr {
		top: 20px;
		width: 70%;
		max-width: 250px;
	}
	.block_main_2 .main .wrap .market button:nth-of-type(1) {
		top: 49px;
		font-size: 19px;
		left: 20px;
	}
	.block_main_2 .main .wrap .market button:nth-of-type(2) {
		top: 49px;
		left: 50px;
	}
	.block_main_2 .main {
		height: 1100px;
	}
	.block_main_3 {
		display: block;
		width: 100%;
		max-width: 480px;
		margin-bottom: 60px;
	}
	.block_main_3 .discription1 h1 {
		font-size: 58px;
		margin: 0 0 0 10px;
	}
	.block_main_3 .discription1 h2 {
		font-size: 35px;
		left: 25px;
		top: -55px;
		margin: 0 0 0 10px;
	}
	.block_main_3 .discription1 p {
		width: 100%;
		max-width: 480px;
		line-height: 1.5;
		padding: 0;
		margin: 0 0 0 10px;
	}
	.block_main_3 .logo_web {
		display: block;
		margin-top: 50px;
		margin-left: 10px;
	}
	.title h1 {
		font-size: 70px;
	}
	.title h2 {
		font-size: 40px;
		width: 100%;
		max-width: 480px;
		left: 1%;
	}
	.images_disc .img .first_img {
		display: block;
	}
	.images_disc .img .first_img img:nth-of-type(1) {
		width: 100%;
		max-width: 480px;
	}
	.images_disc .img .first_img img:nth-of-type(2) {
		width: 100%;
		max-width: 480px;
	}
	.images_disc .img .second_image {
		display: block;
	}
	.images_disc .img .second_image .text {
		width: 100%;
		max-width: 396px;
	}
	.images_disc .img .second_image .text p {
		top: 100px;
		right: 10px;
	}
	.images_disc .img .second_image img:nth-of-type(1) {
		width: 100%;
		max-width: 480px;
	}
	.images_disc .img .second_image img:nth-of-type(2) {
		width: 100%;
		max-width: 480px;
	}
	.images_disc .img .second_image img:nth-of-type(3) {
		width: 100%;
		max-width: 480px;
	}
	.more {
		display: block;
		margin-top: 60px;
	}
	.more .discription {
		width: 100%;
		max-width: 480px;
	}
	.more .discription h1 {
		right: 0;
		top: 120px;
		font-size: 26px;
	}
	.more .discription p:nth-of-type(1) {
		right: 10px;
		font-size: 50px;
	}
	.more .discription p:nth-of-type(2) {
		left: 2px;
		line-height: 1.2;
		font-size: 20px;
		top: -18px;
	}
	.more .image img {
		left: 0;
		width: 100%;
		max-width: 480px;
	}
	.trade-in h1 {
		margin-bottom: 70px;
	}
	.trade-in .discriptions {
		display: block;
	}
	.trade-in .discriptions .discription:nth-of-type(1) {
		margin: 0 auto;
		margin-bottom: 30px;
		margin-left: 10px;
	}
	.trade-in .discriptions .discription:nth-of-type(1) h2 {
		font-size: 24px;
	}
	.trade-in .discriptions .discription:nth-of-type(2) {
		margin: 0 auto;
		margin-bottom: 30px;
		margin-left: 10px;
	}
	.trade-in .discriptions .discription:nth-of-type(3) {
		margin: 0 auto;
		margin-left: 10px;
	}
	.trade-in .btn button {
		width: 85%;
		max-width: 330px;
	}
	.careful {
		display: block;
	}
	.careful .pic {
		display: none;
	}
	.careful .discription {
		left: 10px;
		bottom: 35px;
	}
	.careful .discription p:nth-of-type(1) {
		font-size: 62px;
		left: 10px;
		text-align: center;
		top: -90px;
	}
	.careful .discription h2 {
		text-align: center;
	}
	.careful .discription p:nth-of-type(2) {
		line-height: 1.4;
		font-size: 24px;
	}
	footer {
		display: block;
		padding-top: 100px;
		padding-bottom: 100px;
	}
	footer .instruction p {
		margin-right: 5px;
		line-height: 1.4;
		position: relative;
		left: 10px;
	}
	footer .instruction p br {
		display: none;
	}
	footer .instruction h2 {
		position: relative;
		left: 10px;
	}
	footer .form form .ns {
		display: block;
	}
	footer .form form .ns input:nth-of-type(1) {
		width: 90%;
		max-width: 460px;
	}
	footer .form form .ns input:nth-of-type(2) {
		width: 90%;
		max-width: 460px;
	}
	footer .form form input[name="Email"] {
		width: 98%;
		max-width: 405px;
	}
	footer .form form textarea {
		width: 98%;
		max-width: 403px;
	}
	footer .form form button {
		left: 30px;
		top: 30px;
	}
	.orange {
		max-width: 480px;
	}
}

@media (max-width: 320px) {
	.block_main_3 .discription1 h2 {
		top: -100px;
	}
	.block_main_3 .discription1 h1 {
		font-size: 55px;
	}
}
@media (max-width: 359px) {
	.block_main_3 .discription1 h2 {
		top: -100px;
	}
}
