@media (max-width: 480px) {
	header .head {
		padding-top: 100px;
	}
	header .head h1 {
		margin-bottom: 60px;
		font-size: 20px;
	}
	header .head h2 {
		font-size: 15px;
	}
	header .info .info_serv {
		margin-bottom: -15px;
		width: 132px;
		height: 120px;
		margin-right: 0px;
	}
	header .info .info_serv p:first-child {
		font-size: 30px;
		margin-top: 20px;
	}
	header .info .info_projects {
		margin-bottom: -15px;
		width: 132px;
		height: 120px;
		margin-right: 0px;
	}
	header .info .info_projects p:first-child {
		font-size: 30px;
		margin-top: 20px;
	}
	header .info .info_clients {
		margin-bottom: 35px;
		width: 122px;
		height: 120px;
	}
	header .info .info_clients p:first-child {
		font-size: 30px;
		margin-top: 20px;
	}
	header nav {
		margin-left: 100px;

	}
	header nav ul li {
		font-size: 15px;
		margin-bottom: -8px;
		margin-top: -10px;
		margin-right: 50px;
	}
	header nav ul li:nth-of-type(2) {
		width: 35px;
	}
	header nav ul li:last-child {
		margin-right: 38px;
	}
	hr {
		height: 0.005%;
	}
	.block_main_1 {
		padding: 80px 33px 140px;
	}
	.block_main_1 .discription_head {
		font-size: 18px;
		margin-top: 30px;
	}
	.block_main_1 .head {
		display: block;
	}
	.block_main_1 .head .logo_word > p {
		position: relative;
		bottom: 400px;
		font-size: 290px;
		right: 20px;
	}
	.block_main_1 .discription {
		display: block;
		margin-bottom: 80px;
	}
	.block_main_1 .discription .item_1, .item_2, .item_3 {
		margin-bottom: 20px;
	}
	.block_main_1 .discription .item_1 {
		font-size: 20px;
	}
	.block_main_1 .discription .item_2 {
		font-size: 20px;
	}
	.block_main_1 .discription .item_3 {
		font-size: 20px;
	}
	.block_main_1 .discription .wrap {
		display: flex;
		justify-content: flex-start;
		margin-bottom: 20px;
	}
	.block_main_1 .discription .wrap h3 {
		margin-left: 30px;
	}
	.block_main_2 .head {
		padding-top: 170px;
		padding-bottom: 250px;
	}
	.block_main_2 .head h1 {
		font-size: 43px;
		text-align: left;
		position: relative;
		left: 16px;
	}
	.block_main_2 .head p {
		width: 450px;
		font-size: 21px;
		text-align: left;
	}
	.block_main_2 .head p br:last-child {
		display: none;
	}
	.block_main_2 .main .development {
		width: 480px;
		height: 1300px;
	}
	.block_main_2 .main .development h1 {
		padding-top: 50px;
	}
	.block_main_2 .main .wrap {
		display: block;
		position: relative;
		padding-left: 60px;
		box-sizing: border-box;
	}
	.block_main_2 .main .wrap .landing {
		margin-bottom: 40px;
		margin-top: -880px;
	} 
	.block_main_2 .main .wrap .web {
		margin-bottom: 40px;
	}
	.block_main_2 .main .wrap .market {
		margin-bottom: 40px;
	}
	.block_main_3 {
		display: block;
		width: 480px;
		top: -100px;
	}
	.block_main_3 .discription1 h1 {
		font-size: 64px;
	}
	.block_main_3 .discription1 h2 {
		top: -58px;
		left: 20px;
	}
	.block_main_3 .discription1 p {
		width: 480px;
		line-height: 1.5;
		position: relative;
		top: -30px;
		margin-left: 10px;
	}
	.block_main_3 .logo_web {
		display: flex;
		justify-content: space-around;
	}
}